DATABASE_URL = sqlite+aiosqlite:///./fastapi.db
EMAIL = your_email@email.com
TYPE = service_account
PROJECT_ID = project_id
PRIVATE_KEY_ID = 123
PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----<PRIVATE KEY>-----END PRIVATE KEY-----\n"
CLIENT_EMAIL = main-service@iam.gserviceaccount.com
CLIENT_ID = 123
AUTH_URI = https://accounts.google.com/o/oauth2/auth
TOKEN_URI = https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL = https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL = https://www.googleapis.com/robot/v1/metadata/x509/main-service%...
UNIVERSE_DOMAIN = googleapis.com